@import "tailwindcss";

@theme {
  /* Palet Warna Maqlupastina (Figma) */
  --color-primary: #007a3d;
  --color-accent: #f59e0b;
  --color-background: #fafaf9;
  --color-text-main: #1c1917;
  --color-warning: #ce1126;

  /* Daftarkan Font */
  --font-abhaya: "Abhaya Libre", serif;
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

.animate-scaleUp {
  animation: scaleUp 0.25s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
